 html {
     font-family: 'Helvetica Neue';
 }
 
 body {
     margin: 0;
 }
 
 header {
     background: green;
     text-align: center;
     height: max-content;
     padding: 1em;
 }
 
 section {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 
 article {
     border-width: 1px;
     border-style: solid;
 }