 html {
     font-family: 'Helvetica Neue';
 }
 
 body {
     margin: 0;
 }
 
 header {
     background: rgb(175, 225, 175);
     text-align: center;
     height: max-content;
     padding: 1em;
 }
 
 section {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     height: 100vh;
 }
 
 article {
     flex: 1;
     border-width: 1px;
     border-style: solid;
     padding: 1em;
 }
 
 article:nth-child(2) {
     flex: 2;
 }
 
 #tablero {
     border-style: solid;
     border-color: red;
     display: grid;
     grid-template-columns: 1fr 2fr;
 }
 
 #tablero div {
     border-style: solid;
     margin: 10px;
     padding: 5px;
 }